<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h2>Title: <%=question.title%></h2>
    <h3>Description: <%=question.description%></h3>
    <h3>User: <%=question.user%></h3>
    <h3>Answer: <%=question.answer%></h3>
    <h3>Status: <%=question.status%></h3>
</body>
</html>